<%= form_for @post do |f| %>
    <label class="label has-text-link" style="margin-left:22%;">Create a Post</label>
    <div class="field">
      <label class="label has-text-link	">Location</label>
      <div class="control">
        <div class="select">
            <%= f.collection_select :location_id, Location.all, :id, :name %><br/>
        </div>
      </div>
    </div>
    <br/>
    <div class="field">
      <label class="label has-text-link	">Text:</label>
      <div class="control">
        <textarea name="post[content]" id="post_content" class="textarea" placeholder="Start here..."></textarea>
      </div>
    </div>
    <button class="button is-link is-small">
      <span type="submit" name="commit" value="Create" data-disable-with="Create Post">submit</span>
    </button>
<% end %>