<br/>
<br/>
<br/>
<div class="box">
  <h5 class="title is-5 has-text-link has-text-centered is-italic has-text-weight-bold is-family-code">
   ~ Camelike ~
  </h5> 
  <span style='margin-left: 40%'>
    <a class="is-size-7" href="/posts"> Home </a> | 
    <a class="is-size-7" href="/posts/new"> New Post </a> |
    <span class="is-size-7"> <%= link_to "Profile", user_path(@current_user.id) %> |
    <a class="is-size-7" rel="nofollow" data-method="delete" href="/logout"> Logout </a>
  </span>
  <%= form_for @post do |f| %>
      <div class="field">
        <label class="label">Location</label>
        <div class="control">
          <div class="select">
              <%= f.collection_select :location_id, Location.all, :id, :name %><br/>
          </div>
        </div>
      </div>
      <br/>
      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea name="post[content]" id="post_content" class="textarea" placeholder="Write a message..."></textarea>
        </div>
      </div>
      <button class="button is-info is-rounded is-small">
        <span type="submit" name="commit" value="Create" data-disable-with="Create Post">Submit</span>
      </button>
  <% end %>
</div>